* {
    font-family: 'Roboto', sans-serif;
  }
  
header{
  width: 100%;
  text-align: center;
  }
 
a { 
    text-decoration: none; 
    font-style: italic;
    color: blue;
  }
  
.name {
    width: 100%;
    margin-bottom: 20px;
    color: purple;
  }
 
.introduction {
    width: 50%;
    font-size: 15px;
    margin: auto; 
  }
 
#projects { 
    width: 50%;
    margin: auto;
  }
  
li { 
    width: 33%;
    list-style-type: none;
    font-size: 20px;
    margin-top: 30px;
  }
  
a {
    color: blue;
  }
 
#p5 {
    width: 100px;
    height: 40px; 
    background-color: #ed1f5e;
    color: white; 
    font-size: 30px;
    font-style: bold;
    float: left;
  }